<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="keywords" content="">
	<meta name="description" content=""/>
	<title>乐方多</title>
	<link rel="stylesheet" href="assets/js/libs/bootstrap-3.3.7/css/bootstrap.css">
	<link rel="stylesheet" href="assets/js/libs/datetimepicker/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="assets/js/libs/cropper/cropper.min.css">
	<link rel="stylesheet" href="assets/css/common.css">
	<link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
<header class="clearfix" ng-controller="idxCtrl">
	<h1>lefundo</h1>
	<div>
		<span ng-bind="'BeiJing Time: ' + (BJTime | date:'HH:mm')"></span>
		<button id="signOut" class="sign-out" ng-click="logOut()">Sign out</button>
	</div>
</header>
<nav class="nav">
	<ul class="clearfix">
		<li class="home" ng-class="{'active': state.includes('home')||state.includes('personalInfoView')}">
			<a ui-sref="home">
				<span class="icon"></span>
				<span>Home</span>
			</a>
		</li>
		<li class="app" ng-class="{'active': state.includes('appointments')}">
			<a ui-sref="appointments">
				<span class="icon"></span>
				<span>Appointments</span>
			</a>
		</li>
		<li class="schedule" ng-class="{'active': state.includes('schedule')}">
			<a ui-sref="schedule">
				<span class="icon"></span>
				<span>Schedule</span>
			</a>
		</li>
		<li class="ses-his" ng-class="{'active': state.includes('sessionHistory')||state.includes('lanArt')||state.includes('lanArtDemo')||state.includes('picbook')||state.includes('picBookDemo')||state.includes('science')||state.includes('scienceDemo')||state.includes('socStu')||state.includes('socStuDemo')||state.includes('lanArtView')||state.includes('lanArtDemoView')||state.includes('picbookView')||state.includes('picBookDemoView')||state.includes('scienceView')||state.includes('scienceDemoView')||state.includes('socStuView')||state.includes('socStuDemoView')}">
			<a ui-sref="sessionHistory">
				<span class="icon"></span>
				<span>Session History</span>
			</a>
		</li>
		<li class="payment" ng-class="{'active': state.includes('paymentView')}">
			<a ui-sref="paymentView">
				<span class="icon"></span>
				<span>Payment</span>
			</a>
		</li>
		<li class="message" ng-class="{'active': state.includes('messageView')||state.includes('msgFromI2View')||state.includes('msgFromStudentView')}">
			<a ui-sref="messageView">
				<span class="icon">
					<span class="msgNum" ng-bind="messageNum" ng-if="messageNum>0"></span>
				</span>
				<span>Message</span>
			</a>
		</li>
		<li class="tools">
			<a href="javascript:;">
				<span class="icon"></span>
				<span>Tools</span>
			</a>
		</li>
	</ul>
</nav>
<div id="uiView" ui-view></div>
<script src="assets/js/libs/require.min.js" data-main="assets/js/main"></script>
</body>
</html>